
    <script>
        const modal = document.querySelector("#add-user-modal");
        function closeModal() {
          modal.style.display = "none";
        }
        function openModal() {
          modal.style.display = "block";
        }
      </script>
    </body>
  </html>
  